@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


.mulish-Font {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* website Content Center */
header,
main {
    max-width: 1200px;
    margin: 0 auto;
}


/* Navbar styles */
.brand {
    font-size: 36px;
    font-weight: bolder;
}

.hero {
    color: #FF5400;
}

.navleft,
.navlist {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.navlist a {
    text-decoration: none;
    color: #424247;
}

/* .navlist a:hover{
    color: #FF5400;
} */

.navlist li {
    padding: 5px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlist li:hover {
    background-color: #f0f0f0;
}

/* ---------------------- */

/* Our Popular Tours AND A Simple Perfect Place To Get Lost*/

/* Perfect Place */
.perfect_img{
    background-image: url("../Images/Group\ 40089.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 425px;
    width: 100%;
}
.perfect_img_tittle{
    text-align: center;
    color: white;
    padding: 175px 165px;
    font-size: 25px;
    font-weight: bold;
}
.populerText {
    margin-bottom: 3.5rem;
}

.popular_tittle {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.popular_descrip,
.popular_list {
    color: #424247;
    margin: 25px 0;
    line-height: 30px;
}

.popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;

}

.populerImg img {
    height: 100%;
}

/* Why Choose Us sections */

.chooseUs_tittle {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.chooseUs_descrip {
    color: #424247;
    text-align: center;
    margin-bottom: 3rem;
}

.chooseUs_cards {
    display: flex;
    gap: 25px;
}

.chooseUs_card {  
    border: 1px bisque solid;
    border-radius: 16px;
    padding: 32px;
    /* background-color: bisque; */
    background-image: linear-gradient(#f5f1ed, #faf3ed);
}

.chooseUsRight_card {
    background-image: linear-gradient(#e1e8eb, #e2ecf1);
    border: none;

}

#chooseUs_card {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 55px;
}

.chooseUs_card h4 {
    font-size: 25px;
    margin-bottom: 0;
    font-weight: bolder;
}

.chooseUs_card p {
    color: #424247;
}




/* Button  */
.btn {
    border: none;
    border-radius: 5px;
    padding: 14px 35px;
    color: white;
    font-weight: bold;
    background-color: #FF5400;
}






/* Small device */
@media (max-width:600px) {

    .popular,
    .navbar,
    .chooseUs_cards {
        flex-direction: column;
    }
    .popular img {
        width: 100%;
    }
    .populerText {
        margin-bottom: 0;
    }

    #chooseUs_card {
        max-width:100%;
        margin-top: 25px;
    }
    .perfect_img{
        height: 450px;
    }
    .perfect_img_tittle{
    text-align: center;
    color: white;
    padding: 100px 50px;
    font-size: 25px;
    font-weight: bold;
}
    

}